.panel
  .panel-header='about.links'
  .panel-list
    %ul
      -#- if @user_signed_in do
      -#  %li
      -#    %a{href: about_path(@conn, :index) }= 'about.get_started'
      -#- else
      -#  - if @instance.open_registrations do
      -#    %li= link_to 'about.get_started' , new_user_registration_path
      -#  %li= link_to 'auth.login' , new_user_session_path
      -#%li= link_to 'about.terms' , terms_path
      -#%li= link_to 'about.source_code' , 'https://github.com/tootsuite/mastodon'
