-#- form_for @changeset, new_user(@conn, :create), fn f ->
-#  = inputs_for f, :account, fn fp ->
-#    .input-with-append
-#      = text_input fp, :username, autofocus: true, placeholder: t('simple_form.labels.defaults.username'), required: true, 'aria-label': t('simple_form.labels.defaults.username')
-#      -#= text_input fp, :username, autofocus: true, placeholder: t('simple_form.labels.defaults.username'), required: true, input_html: { 'aria-label': t('simple_form.labels.defaults.username')}
-#      .append= "#{site_hostname}"
-#  = email_input f, :email, required: true
-#    -#placeholder: t('simple_form.labels.defaults.email'),
-#    -#input_html: { 'aria-label' => t('simple_form.labels.defaults.email') }
-#  = password_input f, :password, required: true
-#    -#autocomplete: 'off',
-#    -#placeholder: t('simple_form.labels.defaults.password'),
-#    -#input_html: { 'aria-label' => t('simple_form.labels.defaults.password') }
-#  = password_input f, :password_confirmation, required: true
-#   -# autocomplete: 'off',
-#   -# placeholder: t('simple_form.labels.defaults.confirm_password'),
-#   -# input_html: { 'aria-label' => t('simple_form.labels.defaults.confirm_password') }
-#
-#  .actions
-#    = submit "Register", class: "button button-alternative" 
-#  -#%p.hint.subtle-hint=t('auth.agreement_html', rules_path: about_more_path, terms_path: terms_path)
-#<% end %>
